<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myperson.dao.UserRoleDao">
    <resultMap id="userroleResultMap" type="com.myperson.pojo.UserRole">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <sql id="mainSql">
        SELECT a.*  FROM sardine_role a
    </sql>


</mapper>